html {
    background-color: #0E1014;
    position: relative;
}

.page {
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1170px) {
    .page {
        max-width: 1080px;
    }
}

@media screen and (max-width: 1100px) {
    .page {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1010px) {
    .page {
        max-width: 700px;
    }
}

@media screen and (max-width: 720px) {
    .page {
        max-width: 600px;
    }
}

@media screen and (max-width: 615px) {
    .page {
        width: 100%;
    }
}
