.header__phone-number {
    color: #E4E5EA;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 2px;
}

@media screen and (max-width: 1010px) {
    .header__phone-number {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: 615px) {
    .header__phone-number {
        font-size: 16px;
        line-height: 19px;
    }
}