.footer__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}

.footer__link:hover {
    opacity: .6;
}

@media screen and (max-width: 1010px) {
    .footer__link {
        font-size: 14px;
        line-height: 17px;
    }
}