.main__consult-item {
    width: 135px;
    height: 68px;
    text-align: end;
}

@media screen and (max-width: 725px) {
    .main__consult-item {
        width: 130px;
    }
}

@media screen and (max-width: 400px) {
    .main__consult-item {
        text-align: start;
        width: 125px;
        height: 25px;
        /* justify-content: start; */
    }
}