.transition-link{
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}
.transition-link:hover {
    opacity: .6;
}

.link-style-none {
    color: #E4E5EA;
    text-decoration: none;
}

.list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}