.main__consult-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    gap: 30px;
}


@media screen and (max-width: 400px) {
    .main__consult-items {
        /* align-items: start;
        justify-content: start; */
        gap: 5px;
        align-self: start;
        justify-content: start;
    }
}