.navbar__link {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}

.navbar__link:hover {
    opacity: .6;
}

@media screen and (max-width: 1010px) {
    .navbar__link {
        font-size: 12px;
        line-height: 16px;
    }
}


@media screen and (max-width: 615px) {
    .navbar__link {
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
    }

    .navbar__link:last-child {
        display: none;
    }
}

@media screen and (max-width: 615px) {
    .navbar__link {
        font-size: 12px;
        line-height: 15px;
    }
}